
<div class="row">
  <a href="sonia-gandhi.html">
    <div class="col-md-3">
      <img src="/images/sonia-gandhi.jpg" class="img-responsive" />
    </div>
    <div class="col-md-9">
      <h3>Sonia Gandhi</h3>
    </div>
  </a>
</div>
<br />

<div class="row">
  <a href="rahul-gandhi.html">
    <div class="col-md-3">
      <img src="/images/rahul-gandhi.jpg" class="img-responsive" />
    </div>
    <div class="col-md-9">
      <h3>Rahul Gandhi</h3>
    </div>
  </a>
</div>
<br />

<div class="row">
  <a href="indira-gandhi.html">
    <div class="col-md-3">
      <img src="/images/indira-gandhi.jpg" class="img-responsive" />
    </div>
    <div class="col-md-9">
      <h3>Indira Gandhi</h3>
    </div>
  </a>
</div>
<br />

<div class="row">
  <a href="jawaharlal-nehru.html">
    <div class="col-md-3">
      <img src="/images/jawaharlal-nehru.jpg" class="img-responsive" />
    </div>
    <div class="col-md-9">
      <h3>Jawaharlal Nehru</h3>
    </div>
  </a>
</div>
<br />

<div class="row">
  <a href="priyanka-gandhi.html">
    <div class="col-md-3">
      <img src="/images/priyanka-gandhi.jpg" class="img-responsive" />
    </div>
    <div class="col-md-9">
      <h3>Priyanka Gandhi</h3>
    </div>
  </a>
</div>
<br />

<div class="row">
  <a href="rajiv-gandhi.html">
    <div class="col-md-3">
      <img src="/images/rajiv-gandhi.jpg" class="img-responsive" />
    </div>
    <div class="col-md-9">
      <h3>Rajiv Gandhi</h3>
    </div>
  </a>
</div>
<br />

<div class="row">
  <a href="robert-vadra.html">
    <div class="col-md-3">
      <img src="/images/robert-vadra.jpg" class="img-responsive" />
    </div>
    <div class="col-md-9">
      <h3>Robert Vadra</h3>
    </div>
  </a>
</div>
<br />

<div class="row">
  <a href="sanjay-gandhi.html">
    <div class="col-md-3">
      <img src="/images/sanjay-gandhi.jpg" class="img-responsive" />
    </div>
    <div class="col-md-9">
      <h3>Sanjay Gandhi</h3>
    </div>
  </a>
</div>
<br />
